# ignore files
*.log
*.tmp

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInsta  builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints
